<div class="container offset-4 col-4">  
    <div class="form-group">
        <br>
    </div>
    <form [formGroup]="formRegister" (ngSubmit)="submit()">
        <h1>Register</h1>
        <hr>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" placeholder="Email" formControlName="inputEmail">
        <div *ngIf="formRegister.controls['inputEmail'].hasError('required') && formRegister.controls['inputEmail'].touched" class="alert alert-danger">
            Email Address is required
        </div>
        <div *ngIf="formRegister.controls['inputEmail'].hasError('email')" class="alert alert-danger">
            Email Address is invalid
        </div>
        <div *ngIf="formRegister.controls['inputEmail'].hasError('maxlength')" class="alert alert-danger">
            Email Address length must be less than or equal to 100
        </div>
        <div *ngIf="formRegister.controls['inputEmail'].hasError('minlength')" class="alert alert-danger">
            Email Address length must be greater than or equal to  6
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="inputPassword">
        <div *ngIf="formRegister.controls['inputPassword'].hasError('required') && formRegister.controls['inputPassword'].touched" class="alert alert-danger">
            Password is required
        </div>
        <div *ngIf="formRegister.controls['inputPassword'].hasError('maxlength')" class="alert alert-danger">
            Password length must be less than or equal to 100
        </div>
        <div *ngIf="formRegister.controls['inputPassword'].hasError('minlength')" class="alert alert-danger">
            Password length must be greater than or equal to  5
        </div>
    </div>    
    <div class="form-group">
        <label for="inputConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="inputConfirmPassword">
        <div *ngIf="formRegister.controls['inputConfirmPassword'].hasError('required') && formRegister.controls['inputConfirmPassword'].touched" class="alert alert-danger">
            Password is required
        </div>
        <div *ngIf="formRegister.controls['inputConfirmPassword'].hasError('maxlength')" class="alert alert-danger">
            Password length must be less than or equal to 100
        </div>
        <div *ngIf="formRegister.controls['inputConfirmPassword'].hasError('minlength')" class="alert alert-danger">
            Password length must be greater than or equal to  5
        </div>
        <div *ngIf="passwordError" class="alert alert-danger">
            Password do not match
        </div>
    </div>
    <button type="submit" class="btn btn-primary mr-2" [disabled]="!formRegister.valid">Register</button>
    <button class="btn btn-danger" routerLink="/login">Back</button>   
</form>
</div>

